<form action="/new_word" method="POST">
    <fieldset>
    <legend>ANAGRAMA:</legend>
    
 <br>
    <!-- EXAMPLE INPUT TEXT -->
    Indica la palabra:
    <input type="text" placeholder="word" name="user_word">  

  <!-- EXAMPLE INPUT SUBMIT -->
 
    <input type="submit" value="Submit POST!" />

  </br>
    </fieldset>
</form>