<%if logged_in?%>
  <form action='/users/<%=current_user.id%>' method="GET">  
    <input class="button" type="submit" value="Regresar" />
  </form>
<%else%>
  <form action='/' method="GET">  
    <input class="button" type="submit" value="Regresar" />
  </form>
<%end%>