<%= erb :_header %>

<h4>Has ingresado como: @</h4>

  <form id="tweetear" action="/tweet" method="POST">
    <fieldset>
      <legend>Tweetea:</legend>    
      <input type="text" name="tweet" placeholder="Tweet">
      <input class="button" type="submit" name="btn_tweet" value="Tweet! :D" />
      <div id="new_tweet_section"></div>  
    </fieldset>
  </form>
<br>
<form action="/fetch" method="POST">
  <fieldset>
    <legend>Busca los tweets de un amigo:</legend>
    <input type="text" name="user" placeholder="User">
    <input class="button" id="search" type="submit" name="btn_search" value="Buscar!" />
  </fieldset>
</form>