<h1>API FACEBOOK!</h1>

<div id="fb-root"></div>

<!-- <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="true" data-auto-logout-link="true"></div> -->

<button class= "button btn_login">
  <img id ="img_login" src="/fb_login.png">
</button>
<br>
 <p id="results" />

<div id="profile"></div>


<!-- Button Like for facebook.com page -->
<!-- <div class="fb-like" data-href="http://facebook.com" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div> -->
