.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.fail {
  color: red;
}

#addquestion {
  padding: 20px;
}

#addoption {
  display: none;
}

.question_area {
  background-color: #D8D8D8;
}

table {
  display: table;
  width: 80%;
  border-collapse: separate;
  border-spacing: 2px;
  color: #167F92;
  border-radius: 10px;
  border: 1px solid #167F92;
}

.button {
  background-color: #0B4C5F;
  color : white;
  border-radius: 10px;
  text-align:center;
}

h1 {
  background-color: #0B4C5F;
  color : white;
  text-align:center;
}

/*GRAFICA*/
/*.chart rect {
  fill: steelblue;
}
*/
.chart .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.chart .label {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#data {
/*  display: none;*/
}