<header>
  <img src="img/codea-logo.png" id="logo">
</header>

<h1 id="main-title">¡RAYUELA!</h1>
    <button id="start_btn">Jugar</button><br><br>
    <p id="index">3</p>
    <p id="result"></p>
    <table class="table">
      <tr id="Player1">
        <td id="player1"><strong>Jugador 1</strong></td>
        <td id= "0" class="active"></td>
        <%100.times do |n|%>
          <%if n == 85%>
            <td id= "<%=n + 1%>" class="meta"></td>
          <%else%>
            <td id= "<%=n + 1%>"></td>
          <%end%>
        <%end%>
      </tr>

      <tr id="Player2">
        <td id="player2"><strong>Jugador 2</strong></td>
        <td id= "0" class="active"></td>
        <%100.times do |n|%>
          <%if n == 85%>
            <td id= "<%=n + 1%>" class="meta"></td>
          <%else%>
            <td id= "<%=n + 1%>"></td>
          <%end%>
        <%end%>
      </tr>
</table>
