  <h1>Bienvenido@!</h1>

  <p> Hola! Haz un nuevo post o revisa los que ya tienes! :) </p>

<fieldset>
  <legend>POSTS:</legend>

  <br>
  <form action="/posts" method="POST"> 
    <input type="text" placeholder="Título" name="title">
    <br>
    <br>
    <textarea cols="70" rows="5" placeholder= "Postea!" name="body"> </textarea>
    <br>
    <br>
    <input type="text" placeholder="Tags" name="tags">
    <input type="submit" value="Crear!" />
  </form>
  <br>

  <form action="/posts" method="GET">  
      <input type="submit" value="Mostrar Todos!" />
  </form>

<br>

<form action= "/posts_get" method="POST">
      <p>Di el título del post que deseas encontrar!</p>
      <input type="text" placeholder="Título" name="title">
      <input type="submit" value="Buscar por título" />
  </form>
<% if @falla%>
      <p> Post no encontrado</p>
    <%end%>
  </fieldset>


  <fieldset>
  <legend>TAGS:</legend>
    <form action= "/tags" method="POST">
      <p>Di el tag de los posts que deseas encontrar!</p>
      <input type="text" placeholder="Tag" name="name">
      <input type="submit" value="Mostrar Todos!" />
  </form>
  </fieldset>
