<h1>BLOG:</h1>
<fieldset>
  <legend>Tu POST: Se encontró tu post:</legend>

  <% @posts.each do |post|%>
  <fieldset>
    <p id= 'title'><%= post.title%></p>
    <p id= 'body'><%= post.body%></p>
    <% post.tags.each do |tag|%>
      <div id= 'tags'>#<%= tag.name%></div> 
    <%end%>
  </fieldset>
    
    <form class= "btn_edit" method="POST">  
        <input type="submit" value="Editar" />
    </form>

    <form class= "btn_delete" method="POST">  
        <input type="submit" value="Eliminar" />
    </form>
  <%end%>
</fieldset>

    <form action='/' method="GET">  
        <input type="submit" value="Regresar" />
    </form>