<p>Por favor registrate:</p>

  <form action="/users" method="POST">
  <fieldset>
    <legend>SIGN UP:</legend>
    <% if @falla%>
      <p class="fail"> Something was wrong. Please try again</p>
    <%end%>
    Nombre:   
    <input id="name" type="text" placeholder="name" name="name">  
    <br>
    Email:    
    <input id="email" type="text" placeholder="email" name="email">
    <br>
    Contraseña: 
    <input id= "password" type="text" placeholder="password" name="password">
    <br>
      <ul>
      <div class="error fail"></div>
      </ul>
    <br>
    <input class="button" id="sign_up" type="submit" value="Sign Up!" />
    
    </br>
  </fieldset>
</form>

<%= erb :_return %>