<fieldset>
    <legend>Answer:</legend>

    <p>Please write your answer:</p>
    <% if @falla%>
      <p class= "fail"> No answer create. Please try again</p>
    <%end%>
    <form action="/answers" method="POST">
      <textarea cols="40" rows="5" placeholder="Answer!" name="text"></textarea>
    <br>
      <input type="hidden" name= "question_id" value="<%=question.id%>" />
      <input type="submit" value="Create!" />
    </form>
  </fieldset>