  <h1>¡MARATON!</h1>

  <fieldset>
  <legend>Responde correctamente:</legend> 
    <p>Intento: #<%=@try%></p>
    <p id="current_question"><%= erb :_question %></p>
  </fieldset>

  <%= erb :_return %>