  <h1>¡MARATON!</h1>

  <fieldset>
  <legend>Responde correctamente:</legend>  

  <form action="/signup" method="GET">
    <input type="submit" value="Sign Up!" />
  </form>
  <br>

  <form action="/login" method="GET">
    <input type="submit" value="Log in!" />
  </form>
    </fieldset>