<header>
  <img src="img/codea-logo.png" id="logo">
</header>

<h1 id="main-title">¡RAYUELA!</h1>

<h2> Bienvenido al juego de Rayuela</h2>
<p>Por favor indica los nombres de los participantes (Sólo iniciales)</p>

<form action="/game" method="POST">
    <p>Ingresa Jugador 1:
    <input type="text" name="player1" placeholder= "Nombre 1" /> </p>
    <p>Ingresa Jugador 2:
    <input type="text" name="player2" placeholder= "Nombre 2" /> </p>
    <br>
    <input type="submit" value="¡Jugar!" />
  </form>