<h1>Survey Monkey Clon</h1>

<h2><%=@survey.name%></h2>

<div id='preview_question'>
  <p><input type='text' id='q_name' size='20' name='q_name' value='' placeholder='Question'/> 

  <button id='btn_add_question' type='button'> Add Question</button>
  </p>
</div>

<p>Survey questions:</p>
<div id="survey_area"></div>

<br>
 <button id='btn_complete' type='button'> Complete Survey</button>
<%= erb :_return%>



