<h1>Survey Monkey Clon</h1>

<h2><%=@survey.name%></h2>

<div id='preview_question'>
</div>

<p>Survey questions:</p>
<div id="survey_area"></div>

<br>
 <button id='btn_complete' type='button'> Complete Survey</button>
<%= erb :_return%>