  <h1>¡Bienvenido!</h1>
  
      <% if @notlog%>
      <p class= "fail"> **Necesitas hacer log in para entrar.**</p>
    <%end%>

    <!-- C R U D -->

  <p> Inicia sesión o Registrate</p>

  <!-- CREATE -->
  <form action="/user/new" method="GET">
    <input type="submit" value="Sign Up!" />
  </form>
  <br>

  <!-- READ -->
  <form action="/login" method="GET">
    <input type="submit" value="Log in!" />
  </form>